dist/*
*.sw?
*~
logs/*
build/*
profiles/*
tmp/*
tutorial/*
irctest.log
*.pyc
pesterchum.js
quirks/*
!quirks/defaults.py
*.pkl
Pesterchum.dmg
*.md.backup
subscript.txt
package-lock.json
package.json
pesterchum.spec